{% load staticfiles %}

<html>
<head>
	<title> Home </title>
	 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
     
   <link rel="stylesheet" type="text/css" href="{% static 'client.css' %}" /> 

</head>
<body>

	<h4 class="#558b2f light-green darken-3">Bienvenidos</h4>
	<h3> Color azul </h3>
	<img src="{% static 'img/test.png' %}" alt="My image"/>

</body>
</html>