{% load staticfiles %}
<!DOCTYPE htlm>
<html>
<head>
	<meta charset="UTF-8">
	
	<title> {% block title %} {% endblock %} </title>

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 
	

   {% block scripts %} {% endblock %} 

</head>
<body>
	<header>
	  <div class="navbar-fixed">
	  	
	  	<ul id="user-edit" class="dropdown-content">
  			<li><a href="{% url 'client:edit' %}">Perfil</a></li>
  			<li><a href="{% url 'client:edit_password' %}">Password</a></li>
  			<li><a href="{% url 'client:edit_social' %}">Redes Sociales</a></li>
  			<li class="divider"></li>
			</ul>

	    <nav>
	      <div class="nav-wrapper #9e9e9e grey">
	      	<a href="{% url 'client:dashboard' %}" class="brand-logo">Admin Facilito</a>
	        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	        
		      <ul class="right hide-on-med-and-down lighten-2">
		      	<li>
		      		<a href="{% url 'project:own' %}">Mis projectos</a>
		      	</li>

	          <li>
	          	<a class="dropdown-button" href="#!" data-activates="user-edit">Editar
	          		<i class="material-icons right">arrow_drop_down</i>
	          	</a>
	          </li>

	          <li>
	          	<a href="{% url 'client:logout' %}">logout
	          	</a>
	          </li>
	          
	        </ul>
	      </div>
	    </nav>
	   </div>
	</header>

	{% if messages %}
		<div class="center-align">
			<ul class="messages">
	    	{% for message in messages %}
	    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    	{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% block content %} {% endblock %} 
	
	{% block footer %} {% endblock %} 
	<script type="text/javascript">
		$( document ).ready(function() {
  		$(".dropdown-button").dropdown();
		});
	</script>
</body>
</html>