{% extends 'bases/base_admin.html' %}

{% block title %} Login {% endblock %}

{% block scripts %}
	{% load staticfiles %}
	 <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> 
{% endblock %} 

{% block content %} 
		{# Aqui que haremos #}
		<div class = "class_container_form">
			<form action="" method = "post">
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="registrate">
			</form>
		</div>
{% endblock %} 

{% block footer %} 
<footer>
	<p> Ya cuento con una  <a href="{% url 'client:login' %}"> cuenta	</a></p>
</footer>
{% endblock %}
