{% extends 'client/bases/base_client.html'%}

{% block title %} Editar cuenta {% endblock %} 

{% block scripts %}
	{% load staticfiles %}
	 <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> 
{% endblock %} 

{% block content %} 
	<div class = "class_container_form" >
		<form method="post" action="">
			{% csrf_token %}
				
				{{ form_user.as_p }} 
			 	{{ form_client.as_p }} 
			
			
			<input class="btn #9e9e9e grey" type="submit" value="actualizar">
		</form>
	</div>

{% endblock %} 

{% block footer %} {% endblock %} 