{% load staticfiles %}
<!DOCTYPE htlm>
<html>
<head>
	<meta charset="UTF-8">
	<title> {{ user.username|title }} </title>
  {% load client_extras %}

</head>	
<body>
	<p>Hola Usuario  {{ user.username|title }}  </p>
	<p>Hola Usuario  {{ user.client.bio|truncatechars:100 }}  </p>

  {% if user.socialnetwork %}

    {% for field in user.socialnetwork|list_fields %}   
      {% with user.socialnetwork|value_attr:field as value %}     
        {% if value %}
          <a href="{{ value }}">  {{ field  }} </a>  
        {% endif %}
      {% endwith %}
    {% endfor %}
    
  {% endif %}
  	
</body>
</html>