{% extends 'client/bases/base_client.html'%}

{% block title %} Nuevo Colaborador {% endblock %} 

{% block scripts %}
	{% load staticfiles %}
	 <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}" /> 
	 <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{% endblock %} 
	
{% block content %} 
	
	<form method="post" action="/search" id="search-user-form">
		{% csrf_token %}
		<div center class="input-field">
			<input id="search-user" type="search" required placeholder="Search...">
			<label for="search"></label>
		</div>
	</form>

{% endblock %} 

{% block footer %} 

{% endblock %} 